<body id="container">
    <div id="header">
        <img id="minuteman-logo" src="https://cdn.kevind.me/logo.png">
        <h1 style="text-align: center;">Academics</h1>
    </div>
    <div id="nav">
        <a id="link" href="#freshman-academic-entries">Freshman Academics</a>
    </div>
    <div id="entries">
        <div id="freshmen">
            <div id="freshman-academic-entries">

            </div>
            <div id="freshman-shop">
               <p>Click <a id="link" href="https://projects.kevind.me/state">here</a> to go to my freshman shop entry!</p>
            </div>
        </div>
        <div id="sophomore">
            <div id="academic-entries">

            </div>
        </div>
        <div id="junior">

        </div>
        <div id="senior">
            
        </div>
    </div>
</body>