<!DOCTYPE html>
<html>

<head>
	<!-- Some Meta Tags for things to work. YOU NEED THESE!  DO NOT REMOVE! !-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="TeamX - ESports Organisation">
	<meta name="author" content="TeamX">
	<link rel="stylesheet" href="css.css">
	<title>TeamX - Official Website</title>
	<script src="js.js">
	</script>
</head>

<body id="container">
	<!--<div id="demo-div" height="35px" width="auto">
    <span id="demo-text">This is a demo version of the new TeamX site.</span>
  </div>--!>
  <div class="header">
    <a id="nav" href="https://teamx--kevindiangelis1.repl.co/sponsors.html">Sponsors</a>
  <!-- Small Logo !-->
	<!-- <img id="small-logo" height="50px" width="50px" src="https://teamx--kevindiangelis1.repl.co/logo.png"> !-->

	<!-- Social Media Icons !-->
	<div id="socials">
		<a href="https://twitter.com/TeamXESC" target="_blank">
			<img id="twitter-logo" src="https://teamx--kevindiangelis1.repl.co/twitter.png" />
    <a href="https://www.twitch.tv/teamxesc" target="_blank">
    <br />
    <img id="twitch-logo" src="https://teamx--kevindiangelis1.repl.co/twitch.png" />
    </a>
    <br />
    <a href="https://www.youtube.com/channel/UCu_T_E0U-ZV2s1ty9SM6SMw?view_as=subscriber" target="_blank">
    <img id="twitch-logo" src="https://teamx--kevindiangelis1.repl.co/youtube.png" />
    </a>
    </div>
    <!-- Header Text !-->
    <p class="text" loading="viewport">Welcome to TeamX</p>
    <!--- Learn More Button !--->
    <button id="read-more" onclick="document.location='#aboutus';return false"  >Learn More</button>
  </div>
    <!--- About Us !--->
    <div id="aboutus" class="aboutus">
      <!--- The first TeamX logo that appears in the about section !--->
      <img id="teamx-logo"src="https://teamx--kevindiangelis1.repl.co/logo.png">
      <!--- About us Header !--->
      <span id="aboutus-header" loading="viewport">ABOUT US</span>
      <!--- About us description !--->
      <p id="description" loading="lazy">Team X, is a Multi-Platform eSports & Gaming Organisation from Australia. Team X has teams competing in, <p id="bolded">FORTNITE, CSGO, BO4, R6S, MINECRAFT, OVERWATCH, ROCKET LEAGUE, NBA2K19 & many more games!</p> We're always on the hunt for new talent. So do you think you have what it takes to be apart of Team X!? Then apply now, maybe you could be the next big thing with us!</p>
      <!--- Apply Now Button !--->
     <button class="button" onclick="document.location='https://docs.google.com/forms/d/e/1FAIpQLSeQqbgedS-fgdYF0uUuoHeBdrBr01UgHn8p7yc_OLnrPJV3PQ/viewform';return false">Apply Now</button>
    </div>
  <!--- Contact Us Starts !--->
  <div id="contactus">
    <!--- Contact Us Header !--->
    <p id="contactus-header">CONTACT US!</p>
    <!--- Contact Us Body !--->
    <span id="contactus-text">Thank you for your interest in Team X. For any inquiries, questions or business propositions, Please contact us here. We’ll be happy to answer!</span>
    <!--- Email Provided for TeamX !--->
    <p id="contactus-header">WORLDWIDE</p>
    <p id="contactus-text"><h3>TeamXESC@outlook.com</h3></p>
  </div>
  <div 
</body>
<footer>
  <span id="bolded">Copyright  TeamX 2019</span>
  <div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</footer>
</html>