<!DOCTYPE html>
<html lang="en">
    <body id="container">
        <div id="comissions-container">
            <div class="dropdown">
                <a class="dropbtn"><i id="dropbtn" class="fas fa-bars"></i></a>
                <div class="dropdown-content">
                  <a href="#">Home</a>
                  <a routerLink="about">About</a>
                  <a href="https://status.kevind.me">Status</a>
                  <a href="https://kevind.tech">Blog</a>
                  <a href="https://forum.kevind.me/">Forum</a>
                  <a routerLink="comissions">Comissions</a>
                  <!--<a routerLink="academics">Academics</a>-->
                </div>
              </div>
            <h1 id="comissions-header">Comissions</h1>
            <div id="comissions-content">
                
                


            </div>
        </div>
    </body>
</html>