<!DOCTYPE html>
<head>
    <title>Kevin D - Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://cdn.kevind.me/profilepicture.png"/>
</head>

<body>
  <div>
   <div id="logo-box">
    <img id="logo" src="https://cdn.kevind.me/profilepicture.png" height="100px">
   </div>
   </div>
   <br />
   <div id="sidebar">
    <a><i class="fas fa-bars"></i></a>
    
   </div>
   <!--<button onclick="toggle()">Toggle Dark Mode</button>-->


</body>
<style>
 .dark-mode {
    background-color: black;
    color: white;
}
</style>