#html, #css, #javascript, #python,#php, #go, #java {
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#bday-countdown, #countdown {
    font-size: 30px;
    text-align: center;
}
#bio {
    text-align: center;
}
#text {
 text-align: center;
 display: block;
}
#osha {
 text-align: center;
 display: block;
}