<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Hey! I'm Kevin, I'm a front-end web developer. I do HTML, CSS and JavaScript!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kevin D - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" type="image/png" href="https://cdn.kevind.me/profilepicture.png"/>
</head>

<body id="container">
    <div class="dropdown">
        <a class="dropbtn"><i id="dropbtn" class="fas fa-bars"></i></a>
        <div class="dropdown-content">
          <a href="#">Home</a>
          <a routerLink="about">About</a>
          <a href="https://status.kevind.me">Status</a>
          <a routerLink="comissions">Comissions</a>
          <a routerLink="gpg">GPG Key</a>
          <!--<a routerLink="academics">Academics</a>-->
        </div>
      </div>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img id="profilepicture" src="https://cdn.kevind.me/profilepicture.png" height="200px" width="auto" draggable="false">
          </div>
          <div class="back">
            <img id="profilepicture" src="https://cdn.kevind.me/selfie-resized.jpg" height="200px" width="auto" draggable="false">
          </div>
        </div>
      </div>
    <h1 id="heading">Kevin D</h1>
    <p id="heading1">This is where you can find my current & previous work!</p>
    <div style="text-align: center;">
      <!--<span>If you're looking for my school portfolio, click <a style="text-decoration: none; color:white;" routerLink="school">here</a></span>-->
    </div>
    <div id="socials-div">
      <a id="socials" rel="me" href="https://tech.lgbt/@ItsCryptic"><i class="fa-brands fa-mastodon"></i></a>
      <a id="socials" href="https://instagram.com/kevin.diangelis" target="_blank"><i id="icons" class="fab fa-instagram"></i></a>
      <a id="socials" href="https://youtube.com/c/ItsCryptic" target="_blank"><i id="icons" class="fab fa-youtube"></i></a>
      <a id="socials" href="https://twitch.tv/tmx_cryptic" target="_blank"><i id="icons" class="fab fa-twitch"></i></a>
      <a id="socials" href="https://github.com/ItsCryptic" target="_blank"><i id="icons" class="fab fa-github"></i></a>
    </div>
    <br />
    <br />
    <div style="text-align: center;">
    <span style="text-align: center;" id="pride-month"></span>
    </div>
    <br /><br/><a href="https://linode.gvw92c.net/kevin"><img draggable="false" id="center" alt="Linode logo" src="https://cdn.kevind.me/linode.jpg"></a>
    <br />
    <br />
    <h1 id="my-work">My Work</h1>
    <br />
    <div id="flex-container">
    <a id="vibe" class="work-button" href="https://discord.gg/XsUvH2p"><img src="https://cdn.kevind.me/vibemarket - transparent.png" class="responsive" draggable="false"></a>
    <a class="work-button" href="https://discord.gg/3RDsNEE"><img src="https://cdn.kevind.me/dashnetwork.png" class="responsive" draggable="false"></a>
    <a class="work-button" href="https://meleecraft.com"><img src="https://cdn.kevind.me/meleecraft.png" class="responsive" draggable="false"></a>
    <a class="work-button" href="https://discord.gg/4fwGATDxnE"><img src="https://cdn.kevind.me/cloud9.jpg" class="responsive" draggable="false"></a>
    <a class="work-button" href="https://projects.kevind.me/venommc/"><img src="https://cdn.kevind.me/VenomMC-cropped.png" class="responsive" draggable="false"></a>
    <a class="work-button" routerLink="projects/teamx"><img src="https://cdn.kevind.me/teamx.png" class="responsive" draggable="false"></a> <!--TeamX page is still a work in progress. It has a lot of ways to go before it's production ready-->
    <a class="work-button" href="https://discord.gg/2Ujg6NZ57z"><img src="https://cdn.kevind.me/affinity.png" class="responsive" draggable="false"></a>
    <a class="work-button" href="https://pronouns.page"><img src="https://cdn.kevind.me/icon.png" class="responsive" draggable="false"></a>
    <a class="work-button" href="https://vortexnetwork.net"><img src="https://cdn.kevind.me/vortex.png" class="responsive" draggable="false"></a>
    </div>
    <br />
    <div class="discord-status"></div><div class="discord-tag"></div>
    <div class="spotify"></div>
    <p class="contact"><h1 class="contact">Contact Me</h1><p class="contact"><p class="contact">Email: <span id="email">hello@kevind.me</span><br /><p class="contact">Twitter: <span id="twitter">ItsCryptic1</span></p>
    <br />
    <footer>
      The code for this site is available on <a id="link" href="https://github.com/ItsCryptic/Portfolio">GitHub</a>
    </footer>
</body>
