@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
    color: white;
}

#form-container {
    margin: auto;
    width: 40%;
    padding: 10px;
}

label,input {
 display: block;
 margin-right: auto;
 margin-left: auto;
 text-align: center;
 font-family: 'Poppins', sans-serif;
}

button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
   